html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* above styles for removing dafault browser styles  */

:root {
  --primary: black;
  --priamry-content: rgb(228, 228, 228);
  --neutral: rgb(21, 21, 21);
  --neutral-focus: rgb(28, 28, 28);
  --border-color: rgb(37, 37, 37);
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
  color: var(--priamry-content);
  position: relative;
}

body > header,
.container,
main {
  margin-top: 8rem;
}

@media (max-width: 1240px) {
  body > header,
  .container,
  main {
    margin-top: 6rem;
  }
}

/* nav styles */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 2px solid var(--border-color);
  justify-content: space-between;
  /* primary but opacity */
  background-color: rgba(0, 0, 0, 0.594);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.left-content {
  display: flex;
  gap: 4rem;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation {
  display: flex;
  gap: 1.4rem;
  font-weight: 500;
}

.navigation h3 {
  opacity: 0.7;
  cursor: pointer;
}

.navigation h3:hover {
  opacity: 1;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: var(--neutral);
  transition: all 0.2s ease-in-out;
}

.search:hover {
  background-color: var(--neutral-focus);
}

input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  color: inherit;
}

.search input:focus {
  outline: none;
}

.search input {
  background-color: transparent;
}

.search .logo {
  opacity: 50%;
}

.ham-icon {
  padding: 8px;
  background-color: var(--neutral);
  border-radius: 4px;
}

.ham-icon:hover {
  background-color: var(--neutral-focus);
}

@media (max-width: 1240px) {
  .navigation {
    display: none;
  }
  nav {
    padding: 10px 20px;
  }

  .search input {
    display: none;
  }

  .right-content {
    gap: 0.5rem;
  }
}

/* connect css */

.connect {
  align-self: center;
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 5;
}

.connect .logos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 7rem;
  position: sticky;
  top: 6rem;
}

.connect .logo {
  background-color: rgba(36, 36, 36, 0.594);
  max-width: fit-content;
  padding: 0.75rem;
  border-radius: 7px 0 0 7px;
  font-size: 1.2rem;
}

.logos .whatsapp {
  background-color: #25d366;
  transition: all 0.4s ease-in-out;
}
.logos .discord {
  background-color: #7289d9;
}
.logos .reddit {
  background-color: #ff5700;
}

.logos .whatsapp:hover {
  box-shadow: -5px 10px 50px #25d366;
}
.logos .discord:hover {
  box-shadow: -5px 10px 50px #7289d9;
}
.logos .reddit:hover {
  box-shadow: -5px 10px 50px #ff5700;
}

/* header css */

header {
  display: flex;
  gap: 5rem;
  padding: 0 8rem;
  position: relative;
}

header .image {
  width: 30%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .text-area {
  flex: 1;
  border-radius: 8px;
  border: 2px solid var(--border-color);
  background-color: var(--neutral);
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.2s ease-in-out;
}

textarea:focus {
  outline: none;
  background-color: var(--neutral-focus);
}

header textarea {
  background-color: transparent;
}
header textarea:hover {
  outline: none;
}

@media (max-width: 1240px) {
  header {
    padding: 0 3rem;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }
  header .image {
    width: 80%;
  }

  header .text-area {
    width: 100%;
    aspect-ratio: 3/1;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 1rem;
  }
  header .text-area {
    aspect-ratio: 3/2;
  }
}

/* stats container css */

.container {
  display: flex;
  gap: 2rem;
  padding: 0 8rem;
}

.box {
  flex: 1;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--border-color);
  background-color: var(--neutral);
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.box:hover {
  background-color: var(--neutral-focus);
}

.box.pass:hover {
  border: 2px solid #a7d129;
  color: #a7d129;
}

.box.que:hover {
  border: 2px solid #ffe227;
  color: #ffe227;
}
.box.ans:hover {
  border: 2px solid #068fff;
  color: #068fff;
}
.box.part:hover {
  border: 2px solid #ff2626;
  color: #ff2626;
}

.box h1 {
  font-size: 1rem;
  font-weight: 400;
  opacity: 70%;
}

.box h2 {
  font-size: 2rem;
  font-weight: 900;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 3rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
    gap: 1rem;
  }
}

/* main styles */

main {
  display: flex;
  background: linear-gradient(#9d4edd, #d699ff);
  color: var(--primary);
  padding: 4rem 8rem;
  gap: 4rem;
}

.interact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.interact button {
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  border: none;
  background-color: #2a2a2a3c;
  color: rgb(255, 232, 254);
  font-weight: 600;
  font-size: 1rem;
  box-sizing: border-box;
}

button.is-active {
  background-color: #feaae5;
  color: #10002b;
  border: none;
}

.detail {
  background-color: #10002b;
  color: #f1d6ff;
  flex: 1;
  border-radius: 8px;
  padding: 2rem;
}

.detail h1 {
  font-size: 1.3rem;
}

.detail .info {
  margin-top: 2rem;
}

table td {
  padding: 0.5rem 1rem;
}

@media (max-width: 1240px) {
  main {
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 2rem;
  }

  .interact {
    flex-direction: row;
    gap: 1rem;
  }

  .interact button {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  main {
    padding: 2rem 1rem;
    flex-direction: column;
    gap: 2rem;
  }
  .interact button {
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1rem;
  }
  .detail {
    padding: 1rem;
  }
  .detail .info {
    overflow-x: hidden;
  }
}

/* contact styles */

.contact {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 80px;
  display: flex;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.contact:hover {
  transform: scale(1.2);
}
.contact img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
